

<div id="comments">
	
	<h4>Comments</h4>
	
	<% @page.comments.each do |comment| %>
		<div class="comment">
			<span class="date"><%= human_date comment.created_at %></span>
			<span class="author"><%= comment.author %> said...</span>
			<%= comment.body_html %>
		</div>
	<% end %>
	
	<a href="<%= @page.url %>/comments/new">Add a comment</a>
	
</div>

