
<!-- Links for editing pages
	 	 CRUD = create, read, update, destroy 
	-->

<ul id="crud">
	
	<li><h4>Admin options</h4></li>
	
	<li><a href="/new" class="new">New page</a></li>
	
	<% if @page and @page.slug %>
		<li><a href="<%= @page.url.dup << '/edit' %>" class="edit">Edit</a></li>
		<li><a href="<%= @page.url.dup %>" class="show">Show</a></li>
		<li><a href="<%= @page.url.dup %>" class="delete">Delete</a></li>
	<% end %>
	
</ul>