<% title = 'Welcome' %>

<ul>
<% @pages.each do |page| %>
	<li>
		<a href="<%= url(page.slug) %>">
			<%= page %>
		</a>
	</li>
	
<% end %>	
</ul>


<a href="<%= url('new') %>" class="new">New page</a>
