/* @override http://mongo-talk.dev/stylesheets/simple-cms.css?v=1 */

/*

2011-06-06 
Dougal MacPherson <hello@newfangled.com.au>

*/

body {
	background-color: #a8d7e7;
	margin: 0;
	padding: 30px;
	font: 14pt Georgia, "Times New Roman", Times, serif;
	color: #212424;
}

header {
	font-weight: bold;
}

footer {
	padding-top: 30px;
	color: #fffefe;
	font-size: 12pt;
}

/* @group forms */

fieldset {
	padding-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}

input[type=text], textarea {
	width: 70%;
	padding: 5px;
}

textarea {
	height: 200px;
}

input[type=submit] {
	padding: 20px;
}

a.cancel {
	color: #c00;
}

/* @end */